<h1>Tasks</h1>
<div class="row">
  <% @tasks.each do |task| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag task.photo, class: 'card-img-top' %>
    <div class="card-header">
      <%= task.title %>
    </div>
    <div class="card-body">
      <%= link_to 'Mark as completed',
                  task_todos_path(task),
                  method: 'post',
                  class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>
